<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993142213695-11ibh1v6cjvflqp3pncbaome71407m4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993142213695-11ibh1v6cjvflqp3pncbaome71407m4i</string>
	<key>API_KEY</key>
	<string>AIzaSyAee4Vo3gQ6DAyabIWUsC_20EA_C41p61w</string>
	<key>GCM_SENDER_ID</key>
	<string>993142213695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niteshpoudel.usedbooksbuyandsell</string>
	<key>PROJECT_ID</key>
	<string>usedbooksbuysell-f1592</string>
	<key>STORAGE_BUCKET</key>
	<string>usedbooksbuysell-f1592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993142213695:ios:b8e395b79df59b88443c8a</string>
</dict>
</plist>