<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609763557346-np5ilbv5i4bqmomusr9ra89p7s47q7s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609763557346-np5ilbv5i4bqmomusr9ra89p7s47q7s3</string>
	<key>API_KEY</key>
	<string>AIzaSyC5RgNjIEqjITcxKF_hOBqGJikmSY4UcPU</string>
	<key>GCM_SENDER_ID</key>
	<string>609763557346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niteshpoudel.usedbooksbuyandsell</string>
	<key>PROJECT_ID</key>
	<string>usedbookbuyandsell</string>
	<key>STORAGE_BUCKET</key>
	<string>usedbookbuyandsell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609763557346:ios:bf57ac577d3db33cc443bb</string>
</dict>
</plist>